@{
}

<div class="my-5">
    <figure class="text-center">
        <h2>Welcome to Evincible Solutions</h2>
        <br />
        <h3 class="lead">School Managment System using Dapper MVC and .NET</h3>
        <br />
        <h5 class="text-muted">To perform CRUD Operations in Microsoft SQL Server</h5>
        <br />
        <a href="@Url.Action("GetAllStudents", "Student")" class="btn btn-info my-3">View Student Records</a>
    </figure>
</div>